.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $darkBg;
}

.footer-container {
	// display: flex;
	// flex-wrap: wrap;
	// align-items: baseline;
	justify-content: space-between;
	

	@media screen and (min-width:768px) {
		display: flex;
flex-wrap: wrap;
align-items: baseline;
}
	// @media screen and (min-width:1200px) {
	// flex-wrap: wrap;
	// align-items: baseline;
	// }
}