@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/raleway/raleway-v18-latin_cyrillic-500.eot");
	src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
		url("../fonts/raleway/raleway-v18-latin_cyrillic-500.woff2") format("woff2"),
		url("../fonts/raleway/raleway-v18-latin_cyrillic-500.woff") format("woff"),
		url("../fonts/raleway/raleway-v18-latin_cyrillic-500.ttf") format("truetype"),
		url("../fonts/raleway/raleway-v18-latin_cyrillic-500.svg#Raleway") format("svg");
}

$bodyTextCl: #757575;
$accentCl: #2196f3;
$black: #212121;
$sectionBg: #f5f4fa;
$darkBg: #2f303a;
$white: #ffffff;

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $bodyTextCl;
	background-color: $white;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
